:root {
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    --color-dark-blue: hsl(234, 12%, 34%);
    --color-grayish-blue: hsl(229, 6%, 66%);
    --color-light-gray: hsl(0, 0%, 98%);
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
} 
html, body {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;  
    text-align: center;
    background-color: var(--color-light-gray);
}

/* MOBILE VERSION */

main, body {
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    max-width: 800px;
    margin: 0;
    flex-direction: column;
}
.intro {
    width: 315px;
    height: 250px;
}
.main-heading {
    font-size: 24px;
    font-weight: 200;
    color: var(--color-dark-blue);
    margin-bottom: 0;
}
.sec-heading {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-dark-blue);
    margin-top: 0;
}
.intro-paragraph {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-grayish-blue);
}
.cards {
    width: 315px;
    height: 220px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5em;
    margin-bottom: 1.5em;
    border-radius: 0.3em 0.3em 0 0;
    box-shadow: 1px 8px 20px hsl(0, 0%, 84%);
}
.card1 {
    border-top: 4px solid var(--color-cyan);
}
.card2 {
    border-top: 4px solid var(--color-red);
}
.card3 {
    border-top: 4px solid var(--color-orange);
}
.card4 {
    border-top: 4px solid var(--color-blue);
}
.card-info {
    margin-bottom: 1.5em;
}
.cards-heading {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-dark-blue);
    margin-bottom: 0.2em;
    text-align: left;
    margin-top: 0;
}
.cards-paragraph {
    font-size: 13px;
    font-weight: 400;
    color: var(--color-grayish-blue);
    margin-top: 0;
    text-align: left;
}
.icons {
    width: 67px;
    height: 67px;
}
.icon-div {
    display: flex;
    justify-content: flex-end;
}

/* DESKTOP VERSION */

@media (min-width: 992px) {
    main {
        flex-direction: column;
        width: 100%;
        padding: 4.875em 0;
    }
    .cards-container {
        display: flex;
        flex-direction: row;
    }
    .cards {
        width: 350px;
        height: 245px;
        padding: 2em;
        margin-bottom: 1.8em;
    }
    .card-info {
        height: 171px;
    }
    .intro {
        width: 860px;
        height: 198px;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card1, .card4 {
        display: flex;
        align-self: center;
    }
    .cards-2n3 {
        margin: 0 1.8em;
    }
    .main-heading {
        font-size: 36px;
        font-weight: 200;
        margin-bottom: 0;
        margin-top: 0;
    }
    .sec-heading {
        font-size: 36px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0;
    }
    .intro-paragraph {
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        margin: 1em 12em;
    }
    .cards-heading {
        font-size: 20px;
    }
    .cards-paragraph {
        font-size: 13px;
    }
}